<div id="container">
    <footer class="d-flex flex-column flex-sm-row flex-wrap justify-content-between align-items-start g-5 align-items-sm-center py-3 my-4 border-top footer">
        <div class="legal">
            <div class="logo-foot">
                <img src="images/logo.svg" alt="Logo">
            </div>
            <div class="info">
                <p class="mb-0">&copy; 2024 Ristorante Pizzeria 3 Pini</p>
                <p class="mb-0">P.IVA 02548630223</p>
            </div>
        </div>
    
        <div class="privacy">
            <a href="/privacy-policy">Privacy Policy</a>
            <p class="m-0">Web Design: <a href="https://www.linkedin.com/in/francesco-merighi-373939217/">Francesco Merighi</a></p>
        </div>
    </footer>
</div>
