<%- include('partials/header.ejs') %>

<section class="conventions">
    <div class="container conv-container">
        <div class="conventions-title">
            <h1>Convenzioni</h1>
        </div>
        <div class="row g-5">
            <div class="col-12 col-lg-6 conventions-content">
                <h2>Pranzi di LAVORO</h2>
                <p><strong>Per chi lavora</strong>, abbiamo pensato a delle proposte appropriate: <br>
                    I nostri menù sono ricchi di piatti genuini e gustosi a base di carne, pesce
                    e verdure.</p>
                <p>Comprendono un primo, un secondo, un contorno a scelta, acqua minerale
                    e caffè.</p>
                <p>Ogni giorno vengono variate le pietanze.</p>
                <p>I menù sono proposti ad un prezzo competitivo pur garantendo un’ottima
                    qualità del servizio e delle materie prime.</p>
                <p>Questo ci rende un <strong>punto di forza</strong> a Rovereto. <br>
                    Stipuliamo convenzioni sia per le aziende dei dintorni che per quelle che si
                    trovano in zona per un periodo di lavoro, dando loro la possibilità di
                    usufruire di prezzi agevolati.</p>
                <p>Possiamo concordare <strong style="text-decoration: underline;">offerte personalizzate</strong>. <br>
                    Contattando i titolari possono essere concertate altre soluzioni con la
                    certezza di trovare quella più adatta alle vostre esigenze.</p>
            </div>
            <div class="col-12 col-lg-6 conventions-image d-flex justify-content-center">
                <img src="images/conventions.jpg" class="shadow" alt="Conventions Image">
            </div>
        </div>
    </div>
</section>

<%- include('partials/footer.ejs') %>