<%- include('partials/header.ejs') %>

    <section class="menu">
        <div class="container menu-container">
            <div class="menu-title">
                <h1>Menù</h1>
            </div>
            <div class="paper shadow">
                <p class="advice text-end m-0">*comunicare eventuali intolleranze o allergie allo staff al momento
                    dell’ordine</p>
                <p class="advice text-end m-0">*COPERTO + €2,00</p>
                <div class="menu-section mt-3">
                    <h2 class="mb-0">Antipasti di carne</h2>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Tagliere di affettati "3 Pini"</h3>
                            <p class="mb-0">(Prosciutto crudo, speck, salame, bresaola, formaggi del Territorio e
                                cetriolini)</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€12,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Carpaccio di carne salada nostrana con rucola e scaglie di Trentingrana con
                                olio e.v.o. del Garda</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€12,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Tortel di patate con Speck Alto Adige, formaggio di
                                malga e cavolo cappuccio rosso</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€12,00</p>
                        </div>
                    </div>
                </div>

                <div class="menu-section mt-3">
                    <h2 class="mb-0">Antipasti di pesce</h2>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Degustazione di mare “Tre Pini”</h3>
                            <p class="mb-0">(Insalata di polipo, soutè di cozze e vongole, code di gambero con salsa
                                rosa,
                                pesce spada affumicato, salmone affumicato con crostoni di pane)</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€18,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Insalata di polpo con olive taggiasche, pomodorini e patate</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€16,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Soutè di cozze e vongole con crostoni di pane</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€15,00</p>
                        </div>
                    </div>
                </div>

                <div class="menu-section mt-3">
                    <h2 class="mb-0">Antipasti di verdure</h2>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Bruschette al pomodoro e basilico fresco</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€6,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Caprese: bufala, pomodori e basilico</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€9,00</p>
                        </div>
                    </div>
                </div>

                <div class="menu-section mt-5">
                    <h2 class="mb-0">Primi piatti di carne e pesce</h2>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Spaghetti “Rummo” freschi a lenta lavorazione allo scoglio (leggermente
                                piccante)</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€18,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Strozzapreti (fatti in casa) "Tre Pini" padellati con cozze, vongole,
                                calamari,
                                code di gambero e datterini</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€18,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Risotto con crema di scampi e vongole veraci</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€20,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Risotto al radicchio e marzemino</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€10,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Spaghetti freschi a lenta lavorazione alla carbonara</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€10,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Maccheroncini al Torchio con Lucanica Trentina e Tartufo del Baldo</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€15,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Strangolapreti (fatti in casa) al burro fuso, salvia e speck croccante</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€9,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Paccheri cremosi con guanciale e pistacchio</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€15,00</p>
                        </div>
                    </div>
                </div>

                <div class="menu-section mt-5">
                    <h2 class="mb-0">Secondi di carne</h2>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Tagliata di manzo Limousine</h3>
                            <p class="mb-0">A scelta tra: Rucola e scaglie di grana o erbe aromatiche</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€22,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Filetto di manzo</h3>
                            <p class="mb-0">A scelta tra: Alla griglia o al pepe verde</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€23,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Grigliata mista di carne</h3>
                            <p class="mb-0">(Manzo, pollo, costolette di agnello, lonza, salsiccia, wurstel)</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€22,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Tagliata di pollo con verdure a julienne</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€14,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Cotoletta di pollo alla milanese</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€12,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Costolette di agnello alla griglia</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€20,00</p>
                        </div>
                    </div>
                </div>

                <div class="menu-section mt-3">
                    <h2 class="mb-0">Secondi di pesce</h2>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Trota salmonata del Garda alla griglia</h3>
                            <p class="mb-0">(circa 400/600 grammi)</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€18,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Branzino alla piastra</h3>
                            <p class="mb-0">(circa 400/600 grammi)</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€18,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Trancio di salmone con crema di porri</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€20,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Grigliata mista di pesce</h3>
                            <p class="mb-0">(Filetto di branzino, seppie, gamberoni, pesce spada, calamaro)</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€24,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Gran fritto misto di mare</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€20,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Tagliata di Tonno in crosta di pistacchi con crema di patate allo zafferano
                            </h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€22,00</p>
                        </div>
                    </div>
                </div>

                <div class="menu-section mt-5">
                    <h2 class="mb-0">Contorni</h2>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Verdure grigliate miste</h3>
                            <p class="mb-0">(zucchine, melanzane, peperoni, radicchio)</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€5,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Insalata mista piccola</h3>
                            <p class="mb-0">(insalata verde, radicchio, carote, pomodori)</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€5,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Insalata verde</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€4,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Patatine fritte</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€4,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Patate fritte con buccia</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€4,50</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Patate al forno con rosmarino</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€3,50</p>
                        </div>
                    </div>
                </div>

                <div class="menu-section mt-5">
                    <h2 class="mb-0">Piatto unico</h2>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Strangolapreti al burro fuso, salvia, speck croccante e tagliata di manzo
                                con rucola e scaglie di grana con patate al rosmarino</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€23,00</p>
                        </div>
                    </div>
                </div>

                <div class="menu-section mt-5">
                    <h2 class="mb-0">Bimbi a tavola</h2>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Gnocchi di patate al ragù</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€7,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Pennette al pomodoro e basilico</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€7,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Tortellini con panna e prosciutto</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€8,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Cotoletta di pollo alla milanese con patatine fritte</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€10,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Würstel alla griglia con patatine fritte</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€9,50</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="paper shadow mt-5">
                <div class="menu-section mt-3">
                    <h2 class="mb-0">Pizzeria</h2>
                    <p class="advice text-end mt-1 mb-0">*Impasto Classico</p>
                    <p class="advice text-end m-0">*Impasto Farina Integrale + €2,00</p>
                    <p class="advice text-end m-0">*Impasto Senza Glutine + €2,50</p>
                    <p class="advice text-end m-0">*Mozzarella senza Lattosio + €2,50</p>
                    <p class="advice text-end m-0">*Pizza Formato Baby - €1,00</p>
                    <h2 class="mb-0">Pizze classiche</h2>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Marinara</h3>
                            <p class="mb-0">Pomodoro, aglio</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€5,50</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Margherita</h3>
                            <p class="mb-0">Pomodoro, mozzarella, origano</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€6,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Pioggia</h3>
                            <p class="mb-0">Pomodoro, doppia mozzarella</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€7,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Viennese</h3>
                            <p class="mb-0">Pomodoro, mozzarella, würstel</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€7,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Funghi</h3>
                            <p class="mb-0">Pomodoro, mozzarella, funghi</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€7,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Carciofi</h3>
                            <p class="mb-0">Pomodoro, mozzarella, carciofi</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€7,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Prosciutto</h3>
                            <p class="mb-0">Pomodoro, mozzarella, prosciutto</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€7,50</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Prosciutto e funghi</h3>
                            <p class="mb-0">Pomodoro, mozzarella, prosciutto, funghi</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€8,50</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Capricciosa</h3>
                            <p class="mb-0">Pomodoro, mozzarella, prosciutto, funghi, carciofi</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€9,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Quattro stagioni</h3>
                            <p class="mb-0">Pomodoro, mozzarella, prosciutto, funghi, carciofi, olive nere</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€9,50</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Napoli</h3>
                            <p class="mb-0">Pomodoro, mozzarella, acciughe</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€7,50</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Romana</h3>
                            <p class="mb-0">Pomodoro, mozzarella, acciughe, capperi</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€8,50</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Pugliese</h3>
                            <p class="mb-0">Pomodoro, mozzarella, cipolla di Tropea</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€6,50</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Tonno e cipolla</h3>
                            <p class="mb-0">Pomodoro, mozzarella, tonno, cipolla</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€9,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Gorgonzola</h3>
                            <p class="mb-0">Pomodoro, mozzarella, gorgonzola</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€8,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Quattro formaggi</h3>
                            <p class="mb-0">Pomodoro, mozzarella, formaggio francese, gorgonzola, ricotta, grana</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€9,50</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Salamino</h3>
                            <p class="mb-0">Pomodoro, mozzarella, salamino</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€7,50</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Diavola</h3>
                            <p class="mb-0">Pomodoro, mozzarella, salamino, cipolla, peperoncino</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€8,50</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Zucchine</h3>
                            <p class="mb-0">Pomodoro, mozzarella, zucchine, grana</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€8,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Parmigiana</h3>
                            <p class="mb-0">Pomodoro, mozzarella, melanzane, grana</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€8,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Vegetariana</h3>
                            <p class="mb-0">Pomodoro, mozzarella, zucchine, melanzane, spinaci, peperoni,
                                asparagi, grana</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€10,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Calzone Classico</h3>
                            <p class="mb-0">Pomodoro, mozzarella, funghi, prosciutto</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€8,50</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Calzone Vegetariano</h3>
                            <p class="mb-0">Pomodoro, mozzarella, zucchine, melanzane, peperoni, grana</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€9,50</p>
                        </div>
                    </div>
                </div>

                <div class="menu-section mt-3">
                    <h2 class="mb-0">Pizze speciali</h2>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Tirolese</h3>
                            <p class="mb-0">Pomodoro, mozzarella, funghi, würstel, speck</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€9,50</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Francese</h3>
                            <p class="mb-0">Pomodoro, mozzarella, formaggio francese, speck</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€9,50</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">A modo mio</h3>
                            <p class="mb-0">Pomodoro, mozzarella, salamino, carciofi, gorgonzola, cipolla</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€10,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Braccio di ferro</h3>
                            <p class="mb-0">Pomodoro, mozzarella, spinaci, ricotta, grana</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€9,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Siciliana</h3>
                            <p class="mb-0">Doppio pomodoro, tonno, acciughe, cipolla, peperoni, olive nere</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€9,50</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Primavera</h3>
                            <p class="mb-0">Pomodoro, mozzarella, ricotta, carciofi, pomodorini, grana</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€9,50</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Principessa</h3>
                            <p class="mb-0">Pomodoro, mozzarella, gorgonzola, crudo</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€9,50</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Inferno</h3>
                            <p class="mb-0">Pomodoro, mozzarella, salamino, cipolla, peperoni, olive</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€9,50</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Delicata</h3>
                            <p class="mb-0">Pomodoro, mozzarella, bresaola, rucola, scaglie di grana</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€10,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Mare e monti</h3>
                            <p class="mb-0">Pomodoro, mozzarella, porcini, gamberetti</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€11,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Sfiziosa</h3>
                            <p class="mb-0">Doppio pomodoro, acciughe, bufala, olive taggiasche, pomodorini saporiti
                                e origano</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€13,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Bufalina</h3>
                            <p class="mb-0">Doppio pomodoro, mozzarella di bufala, basilico</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€10,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Crudo</h3>
                            <p class="mb-0">Pomodoro, mozzarella, crudo</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€9,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Carbonara</h3>
                            <p class="mb-0">Pomodoro, mozzarella, cipolla, pancetta, uova, pepe</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€10,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Rustica</h3>
                            <p class="mb-0">Pomodoro, mozzarella, salsiccia, gorgonzola, salamino</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€10,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Bomba</h3>
                            <p class="mb-0">Pomodoro, mozzarella, cipolla, salamino, salsiccia, peperoni, aglio,
                                peperoncino</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€10,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Gustosa</h3>
                            <p class="mb-0">Pomodoro, mozzarella, Philadelphia, pomodorini, rucola</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€10,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Burrata</h3>
                            <p class="mb-0">Doppio pomodoro, pomodorini, burrata, basilico fresco</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€11,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Americana</h3>
                            <p class="mb-0">Pomodoro, mozzarella, patate fritte</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€8,50</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Carnivora</h3>
                            <p class="mb-0">Pomodoro, mozzarella, salsiccia, salamino, würstel, prosciutto cotto</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€10,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Saporita</h3>
                            <p class="mb-0">Pomodoro, mozzarella, salamino, Philadelphia, carciofi</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€9,50</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Gamberetti e zucchine</h3>
                            <p class="mb-0">Pomodoro, mozzarella, gamberetti, zucchine</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€10,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Porcini</h3>
                            <p class="mb-0">Pomodoro, mozzarella, porcini, scaglie di grana</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€10,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Tre Pini</h3>
                            <p class="mb-0">Pomodoro, mozzarella, porcini, Philadelphia, rucola, scaglie di grana</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€11,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Frutti di mare</h3>
                            <p class="mb-0">Pomodoro, mozzarella, frutti di mare, aglio</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€14,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Montanara</h3>
                            <p class="mb-0">Pomodoro, mozzarella, brie, porcini, speck</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€11,00</p>
                        </div>
                    </div>
                </div>

                <div class="menu-section mt-3">
                    <h2 class="mb-0">Pizze bianche</h2>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">La Piovra</h3>
                            <p class="mb-0">Mozzarella, polpo, patate lesse, pomodorini, rosmarino</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€14,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Friarielli</h3>
                            <p class="mb-0">Mozzarella, friarielli, salsiccia</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€9,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Estate</h3>
                            <p class="mb-0">Mozzarella, pomodorini, scaglie di grana</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€8,50</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Garda</h3>
                            <p class="mb-0">Mozzarella, zucchine, formaggio alle erbe, salmone</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€13,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Trevigiana</h3>
                            <p class="mb-0">Mozzarella, radicchio, salamino, gorgonzola</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€10,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Calabrese</h3>
                            <p class="mb-0">Mozzarella, aglio, peperoncino, olive nere</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€7,00</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="paper shadow mt-5">
                <div class="menu-section mt-3">
                    <h2 class="mb-0">Carta dei Vini</h2>
                    <h2 class="mb-0 mt-5">Spumanti</h2>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Altemasi Millesimato Trento DOC</h3>
                            <p class="mb-0">Colore giallo paglierino, con appena accennate sfumature verdoline, profumo
                                molto fine,
                                fruttato con evidente sentore di lievito</p>
                        </div>
                        <div class="item-price d-flex" style="gap: 1rem;">
                            <p class="mb-0">€4,50</p>
                            <p class="mb-0">€30,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Simoncelli Trento DOC</h3>
                            <p class="mb-0">Colore giallo paglierino, con evidenti sfumature verdoline, profumo intenso
                                che ricorda la
                                mela, la pesca e un chiaro sentore di lievito</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€40,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Spumante Ress Brut Trento DOC</h3>
                            <p class="mb-0">Paglierino delicato e perlage continuo e minuto. Olfatto floreale e fresco
                                con aperture a ricordi
                                fruttati di mela e zest di limone.</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€38,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Prosecco Superiore Valdobbiadene DOCG “Cantina Zago Gasparini” Veneto</h3>
                            <p class="mb-0">Colore giallo paglierino, note gustative bilanciate che ne fanno un vino
                                pieno, morbido, di
                                grande armonia e finezza. Profumo molto delicato e fruttato con sentori di mela</p>
                        </div>
                        <div class="item-price d-flex" style="gap: 1rem;">
                            <p class="mb-0">€3,50</p>
                            <p class="mb-0">€20,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Prosecco Superiore Valdobbiadene Extra Dry DOCG
                                “Cantina Nani Rizzi”</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€28,00</p>
                        </div>
                    </div>
                </div>

                <div class="menu-section mt-3">
                    <h2 class="mb-0">Vini bianchi Trentino Alto-Adige e Veneto</h2>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Retiko IGT Dolomiti Bianco Barrique
                                “Cantina Grigoletti”</h3>
                            <p class="mb-0">Colore giallo paglierino carico. All’olfatto si presenta con notevole
                                finezza, grande intensità
                                ed intrigante complessità. Spiccano sentori di frutta esotica matura, pesca, miele,
                                sambuco, su un
                                fondo di fiori d’acacia e note agrumate. Al gusto è straordinariamente morbido,
                                vellutato ampio
                                e fruttato; nel lunghissimo finale emergono note minerali e vanigliate.</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€30,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Nosiola
                                “Cantina Fondazione Mach”</h3>
                            <p class="mb-0">Colore giallo paglierino con riflessi verdognoli; profumo delicato,
                                caratteristico, fruttato e
                                floreale. Di media struttura, gradevolmente acidulo</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€25,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Gewürztraminer
                                “Cantina Ritterhof”</h3>
                            <p class="mb-0">Attraverso la fermentazione che avviene ad una temperatura costante di 20°
                                C, questo vino
                                assume il proprio sapore esclusivo e la sua spiccata gamma di aromi</p>
                        </div>
                        <div class="item-price d-flex" style="gap: 1rem;">
                            <p class="mb-0">€4,50</p>
                            <p class="mb-0">€30,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Sauvignon
                                “Cantina Ritterhof”</h3>
                            <p class="mb-0">È un vino bianco aromatico elegante e delicatamente profumato. Ha un intenso
                                e luminoso
                                colore paglierino. Al naso emerge un ventaglio di profumi composto da agrumi e pesca cui
                                seguono sentori di peperone e foglia di geranio. In bocca è persistente, fresco e con
                                buona
                                sapidità</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€30,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Lugana
                                “Cantina Aldegheri”</h3>
                            <p class="mb-0">Questo vino dal colore giallo paglierino riporta profumi di frutta esotica,
                                albicocche e pesche
                                noci intensi e accattivanti completati da una pienezza ineguagliabile e perfetta armonia
                            </p>
                        </div>
                        <div class="item-price d-flex" style="gap: 1rem;">
                            <p class="mb-0">€4,00</p>
                            <p class="mb-0">€25,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Chardonnay
                                “Cantina Lagertal”</h3>
                            <p class="mb-0">Colore giallo paglierino con riflessi verdognoli. Profumo intenso e fine di
                                fiori e frutta gialla con particolare riferimento alla mela Golden. Armonico
                                persistente con buona freschezza
                                100% Chardonnay.</p>
                        </div>
                        <div class="item-price d-flex" style="gap: 1rem;">
                            <p class="mb-0">€4,00</p>
                            <p class="mb-0">€25,00</p>
                        </div>
                    </div>
                </div>

                <div class="menu-section mt-3">
                    <h2 class="mb-0">Vini alla spina</h2>
                    <div class="menu-item mt-2 align-items-start">
                        <div class="item-text">
                            <h3 class="mb-0">Bianco da tavola Il Tino</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">1/4 lt €3,00</p>
                            <p class="mb-0">1/2 lt €6,00</p>
                            <p class="mb-0">1 lt €11,50</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2 align-items-start">
                        <div class="item-text">
                            <h3 class="mb-0">Vino Frizzante Prosit Le Fornaci</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">1/4 lt €4,00</p>
                            <p class="mb-0">1/2 lt €7,50</p>
                            <p class="mb-0">1 lt €15,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2 align-items-start">
                        <div class="item-text">
                            <h3 class="mb-0">Rosso da tavola Il Tino</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">1/4 lt €3,00</p>
                            <p class="mb-0">1/2 lt €6,00</p>
                            <p class="mb-0">1 lt €11,50</p>
                        </div>
                    </div>
                </div>

                <div class="menu-section mt-3">
                    <h2 class="mb-0">Vini rossi Trentino Alto-Adige</h2>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Teroldego
                                “Cantina Campo Maseri”</h3>
                            <p class="mb-0">Colore rosso rubino con riflessi violacei, intenso profumo fruttato di
                                piccoli frutti come
                                lamponi e mirtilli. Gusto secco, sapido, di grande struttura ed equilibrio</p>
                        </div>
                        <div class="item-price d-flex" style="gap: 1rem;">
                            <p class="mb-0">€4,00</p>
                            <p class="mb-0">€25,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Marzemino
                                “Cantina Grigoletti”</h3>
                            <p class="mb-0">Colore rosso rubino con riflessi violacei brillanti. Sapore secco, sapido
                                particolarmente
                                equilibrato. Profumo di piccoli frutti di bosco e sfumature floreali</p>
                        </div>
                        <div class="item-price d-flex" style="gap: 1rem;">
                            <p class="mb-0">€4,00</p>
                            <p class="mb-0">€25,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Cabernet Sauvignon
                                “Azienda Agricola Gorga”</h3>
                            <p class="mb-0">Colore rosso rubino intenso tendente al granato con l’età di profumo e
                                sapore
                                inconfondibile, lievemente tanico ed erbaceo da giovane.</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€28,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Marzemino Pradaia D.O.C.
                                “Azienda Agricola Gorga”</h3>
                            <p class="mb-0">Colore rosso rubino con riflessi violacei, profumo tipico con vago sentore
                                di
                                viola mammola. Sapore deciso, sapido e pieno, secco, armonico e con un fondo
                                tendente all’amarognolo.</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€25,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Navesel
                                “Azienda Agricola Simoncelli”</h3>
                            <p class="mb-0">Colore granato, carico e lucido, esprime aromi vinosi di lampone e ribes con
                                note
                                leggermente erbacee. Al sapore mantiene una morbida vena fruttata</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€30,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Lagrein
                                “Cantina Ritterhof”</h3>
                            <p class="mb-0">Di colore rubino, esprime sentori evidenti di frutti di bosco, accompagnate
                                da gradevoli
                                sfumature di liquirizia. Al palato è equilibrato e rotondo.</p>
                        </div>
                        <div class="item-price d-flex" style="gap: 1rem;">
                            <p class="mb-0">€4,50</p>
                            <p class="mb-0">€30,00</p>
                        </div>
                    </div>
                </div>

                <div class="menu-section mt-3">
                    <h2 class="mb-0">Vini rosati Trentino Alto-Adige</h2>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Schiava
                                “Azienda Agricola Simoncelli”</h3>
                            <p class="mb-0">Brillante colore cerasuolo, profumo gradevolmente fruttato e floreale,
                                ricorda le ciliegie e la
                                viola mammola. Sapore rotondo ed equilibrato con un retrogusto fresco</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€20,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Rosè Grigole Spumante Brut Rosato
                                “Cantina Grigoletti”</h3>
                            <p class="mb-0">Colore rosa carico, profumo di piccoli frutti rossi. In bocca risulta
                                fruttato, fresco e delicato</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€30,00</p>
                        </div>
                    </div>
                </div>

                <div class="menu-section mt-3">
                    <h2 class="mb-0">Vini rossi altre regioni</h2>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Valpolicella Ripasso Superiore
                                “Cantina Aldegheri” Veneto</h3>
                            <p class="mb-0">Pregiato vino rosso da invecchiamento di colore rosso rubino carico, dagli
                                spiccati
                                profumi di prugna e marasca cotte, la percezione della perfetta armonia del corpo,
                                pieno e robusto</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€40,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Amarone Valpolicella Classico
                                “Cantina Aldegheri” Veneto</h3>
                            <p class="mb-0">Robusto, pieno, caldo, il profumo ricorda le amarene sotto spirito, la
                                liquirizia, il cuoio e
                                molto debolmente anche il legno</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€65,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Barolo DOCG
                                “Azienda Vitivinicola Massimo Rattalino” Piemonte</h3>
                            <p class="mb-0">Vino potente, austero, elegante. Il colore appare granato intenso, al naso
                                in gioventù
                                appaiono fragranti sensazioni di rosa, viola e rabarbaro che vanno con l’età evolvendosi
                                in
                                note speziate, di pepe nero e tartufo</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€65,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Chianti Classico
                                “Cantina Castello d’Albola” Toscana</h3>
                            <p class="mb-0">Colore rosso rubino tendente al granato, profumo fine, con delicati sentori
                                di violetta.
                                Sapore armonico, asciutto, di buona struttura e stoffa vellutata</p>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€35,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Appassimento –
                                Rosso Veneto IGT Passito</h3>
                            <p class="mb-0">Consigliato per carne alla griglia e brasati</p>
                        </div>
                        <div class="item-price d-flex" style="gap: 1rem;">
                            <p class="mb-0">€4,50</p>
                            <p class="mb-0">€28,00</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="paper shadow mt-5">
                <div class="menu-section mt-3">
                    <h2 class="mb-0">Bevande</h2>
                    <h2 class="mb-0 mt-5">Birre</h2>

                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Birra alla spina Bischofshof Original 0,20 lt</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€2,80</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Birra alla spina Bischofshof Original 0,40 lt</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€5,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Birra alla spina Bischofshof Weizen 0,30 lt</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€3,50</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Birra alla spina Bischofshof Weizen 0,50 lt</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€5,50</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Birra in bottiglia Bischofshof Zwickl non filtrata 0,50 lt</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€6,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Birra in bottiglia Super 8 Export (senza glutine) 0,33 lt</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€3,50</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Birra in bottiglia Moretti Analcolico 0,33 lt</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€3,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Birra rossa Charles Quint 0,33 lt</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€5,00</p>
                        </div>
                    </div>
                </div>

                <div class="menu-section mt-5">
                    <h2 class="mb-0">Bibite</h2>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Acqua min. frizzante/naturale in bott. vetro 0,75 lt</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€3,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Acqua min. frizzante/naturale in bott. vetro 0,50 lt</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€1,50</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Acqua min. frizzante/naturale in bott. plastica 0,50 lt</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€1,30</p>
                        </div>
                    </div>
                </div>

                <div class="menu-section mt-3">
                    <h2 class="mb-0">Bibite alla spina</h2>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Pepsi Cola piccola</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€2,80</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Pepsi Cola media</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€4,50</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Schweppes Limone piccola</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€2,80</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Schweppes Limone media</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€4,50</p>
                        </div>
                    </div>
                </div>

                <div class="menu-section mt-3">
                    <h2 class="mb-0">Bibite in lattina</h2>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Coca Cola</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€3,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Fanta</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€3,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Chinotto</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€3,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Tè pesca/limone</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€3,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Coca Cola Zero</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€3,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Lemonsoda</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€3,00</p>
                        </div>
                    </div>
                </div>

                <div class="menu-section mt-3">
                    <h2 class="mb-0">Bibite in bottiglia</h2>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Tonica Schweppes</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€3,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Succhi di frutta</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€3,00</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="paper shadow mt-5">
                <div class="menu-section mt-3 ">
                    <h2 class="mb-0">Superalcolici</h2>
                    <h2 class="mb-0 mt-5">Amari</h2>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Jagermeister</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€3,50</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Cynar</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€3,50</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Fernet Branca</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€3,50</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Disaronno</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€3,50</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Branca Menta</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€3,50</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Montenegro</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€3,50</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Averna</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€3,50</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Ramazzotti</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€3,50</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Sambuca Extra Molinari</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€3,50</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Limoncino</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€3,50</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Braulio</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€3,50</p>
                        </div>
                    </div>
                </div>

                <div class="menu-section mt-3 ">
                    <h2 class="mb-0">Brandy</h2>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Vecchia Romagna</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€3,50</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Stravecchia</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€3,50</p>
                        </div>
                    </div>
                </div>

                <div class="menu-section mt-3 ">
                    <h2 class="mb-0">Distillati</h2>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Gin Tanqueray</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€4,50</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Gin Greedy</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€4,50</p>
                        </div>
                    </div>
                </div>

                <div class="menu-section mt-3 ">
                    <h2 class="mb-0">Whiskey</h2>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Glenfiddich</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€5,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Jack Daniel's</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€5,00</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="paper shadow mt-5">
                <div class="menu-section mt-3 ">
                    <h2 class="mb-0">Caffetteria</h2>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Caffè espresso</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€1,30</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Caffè decaffeinato</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€1,30</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Caffè d'orzo piccolo</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€1,30</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Caffè d'orzo grande</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€1,80</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Caffè ginseng piccolo</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€1,60</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Caffè ginseng grande</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€1,90</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Caffè corretto</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€1,90</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Cappuccino</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€2,00</p>
                        </div>
                    </div>
                    <div class="menu-item mt-2">
                        <div class="item-text">
                            <h3 class="mb-0">Cappuccino decaffeinato</h3>
                        </div>
                        <div class="item-price">
                            <p class="mb-0">€2,00</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    <%- include('partials/footer.ejs') %>