<%- include('partials/header.ejs') %>

<div id="container">
    <div class="privacy-title">
        <h1>Privacy Policy e Cookies</h1>
    </div>

    <div class="privacy-section">
        <h2>Che cosa sono i cookies?</h2>
        <p>Un “cookie” è un piccolo file di testo che i siti Web/Applicazioni inviano al computer o a un altro dispositivo connesso a Internet del visitatore per identificare univocamente il browser del visitatore stesso, per salvare informazioni, impostazioni e personalizzazioni nel browser.</p>
    </div>

    <div class="privacy-section">
        <h2>Cookie per cui è richiesto il consenso</h2>
        <p>Tutti i cookie diversi da quelli tecnici vengono installati o attivati solo a seguito del <strong>consenso espresso</strong> dall’utente la prima volta che visita il sito. Il consenso può essere espresso in maniera generale, interagendo con il banner di informativa breve presente sulla pagina di approdo del sito, secondo le modalità indicate in esso (cliccando sul tasto ACCETTA); oppure può essere fornito in maniera selettiva, secondo le modalità di seguito indicate. Di questo consenso viene tenuta traccia in occasione delle visite successive.
            <br><strong>L’utente ha sempre la possibilità di revocare in tutto o in parte il consenso già espresso</strong> (cliccando sul tasto RIFIUTA) e occorrerà aggiornare la pagina per rendere le modifiche effettive.</p>
    </div>

    <div class="privacy-section">
        <h2>Cookie utilizzati da questo sito</h2>
        <p><strong>Cookies tecnici</strong> <br>
            Utilizziamo solamente cookies tecnici anonimi indispensabili per il corretto funzionamento del sito, per la gestione della sessione, per le funzionalità 
            interne del nostro sistema o per la personalizzazione di alcune parti del sito. Questo tipo di cookie non richiede il consenso dell'utente in quanto non raccoglie dati sensibili.</p>
        <p><strong>Cookies di profilazione</strong> <br>
            Questo sito non crea cookies di profilazione.</p>
        <p><strong>Cookies di terze parti</strong> <br>
            I cookies di terze parti sono impostati da un sito web diverso da questo sito e risiedono su server diversi. Questi cookie non vengono controllati direttamente da questo Sito. Di seguito i servizi (di terze parti) che possono generare cookies:</p>
            <table class="table">
                <tbody>
                  <tr>
                    <th scope="row">Google Maps</th>
                    <td>Google Maps è un servizio di visualizzazione di mappe gestito da Google Inc. che permette a questo
                        sito di indicare il luogo dove si trova l'azienda. <br>
                        <a href="https://policies.google.com/privacy?hl=it&amp;gl=it">Privacy Policy - Cookie</a></td>
                  </tr>
                  <tr>
                    <th scope="row">Google Fonts</th>
                    <td>Google Fonts è un servizio che permette di caricare dei caratteri (font) per migliorare l'aspetto del
                        sito attraverso l'uso dei fogli di stile. Il servizio è gestito da Google Inc. L'uso delle Google Font
                        non prevede autenticazione. <br>
                        <a href="https://policies.google.com/privacy?hl=it&amp;gl=it">Privacy Policy - Cookie</a></td>
                  </tr>
                  <tr>
                    <th scope="row">Font Awesome</th>
                    <td>Font Awesome è un servizio che permette di caricare delle icone per migliorare l'aspetto del sito.
                        Il servizio è gestito da Fonticons Inc. L'utilizzo viene eseguito tramite CDN (Content Delivery Network) <br>
                        <a href="https://fontawesome.com/privacy">Privacy Policy - Cookie</a></td>
                  </tr>
                </tbody>
            </table>
    </div>

    <div class="privacy-section">
        <h2>Gestione dei cookie</h2>
        <p>I cookies possono essere eliminati, modificati e disattivati direttamente dal browser. <br>
            Il visitatore ha il pieno controllo dei cookies e sul loro utilizzo. <br>
            Disabilitando i cookies è possibile che alcune parti/servizi di questo sito non siano correttamente visualizzati.</p>
        <p>Qui di seguito le guide dei browser più usati per conoscere le varie modalità di gestione dei cookies:</p>
        <ul>
            <li><a href="https://support.google.com/chrome/answer/95647?hl=it">Chrome</a></li>
            <li><a href="https://support.mozilla.org/it/kb/Gestione%20dei%20cookie?redirectlocale=it-US&amp;redirectslug=Cookies">Firefox</a></li>
            <li><a href="https://support.apple.com/it-it/HT201265">Safari</a></li>
            <li><a href="https://support.microsoft.com/it-it/microsoft-edge/eliminare-i-cookie-in-microsoft-edge-63947406-40ac-c3b8-57b9-2a946a29ae09">Microsoft Edge</a></li>
        </ul>
        <p><strong>Ricordiamo inoltre all’utente che molti browser permettono la navigazione in incognito.</strong></p>
        <p>Ulteriori informazioni sui cookies possono essere reperite nei seguenti siti:</p>
        <ul>
            <li><a href="https://it.wikipedia.org/wiki/Cookie">Cookie (Wikipedia)</a></li>
            <li><a href="https://allaboutcookies.org/">All About Cookies</a></li>
            <li><a href="https://youronlinechoices.eu/">Your Online Choices</a></li>
        </ul>
    </div>

    <div class="privacy-section">
        <h2>Aggiornamento informativa</h2>
        <p>La presente cookie policy può subire modifiche nel tempo – anche connesse all'eventuale entrata in vigore di nuove normative di settore, all'aggiornamento o erogazione di nuovi servizi ovvero ad intervenute innovazioni tecnologiche – per cui l'utente/visitatore è invitato a consultare periodicamente questa pagina.</p>
    </div>

    <div class="privacy-section">
        <h2>Titolare trattamento dei dati</h2>
        <p>Ristorante Pizzeria Tre Pini di Kaur Kamaljit & C. SNC <br>
            Via Stazione Mori 14, 38068, Rovereto (TN)</p>
        <p><strong>Indirizzo email del Titolare:</strong> 3pini@singhrestaurant.it</p>
        <p>Dal momento che l’uso di Strumenti di Tracciamento di terza parte su questo Sito Web non può essere completamente controllato dal Titolare, 
            ogni riferimento specifico a Strumenti di Tracciamento di terza parte è da considerarsi indicativo. Per ottenere informazioni complete, gli Utenti sono gentilmente invitati a consultare la privacy policy dei rispettivi servizi terzi elencati in questo documento.</p>
    </div>

    <div class="privacy-section">
        <h2>Preferenze Cookies</h2>
        <p>Qui puoi cambiare il consenso espresso in precedenza: </p>
        <form method="post" action="/cookie-pref" class="mt-4">
            <button class="privacy-btn" type="submit" name="cookieAction" value="accept">Accetto</button>
            <button class="privacy-btn mt-1" type="submit" name="cookieAction" value="deny">Rifiuto</button>
        </form>
    </div>
</div>

<%- include('partials/footer.ejs') %>